body{
    height: 800px;
    width: 100vw;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/23/08/20/candle-2671870_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   
img{
    position: relative;
    width: 200px;
    height: 200px;
    top:1%;
    border-radius: 50%;
    left: 42%;
    border: 2px solid red;
}
p{
    position: relative;
    left:40%;
    font-size: large;
}
.container
{
    position: relative;
    width: 450px;
    height: 500px;
    top:10%;
    left:33%;
    border: 4px solid rgb(251, 247, 247);
    border-radius:4em;
    background:linear-gradient(45deg,rgb(188, 211, 81),rgb(224, 74, 234),rgb(233, 108, 191));
    color:rgb(230, 14, 14);
    align-content:center;
    align-items: end;
    


}

header
{
    color: rgb(232, 221, 23);
    text-align: center;
    font-size:10ch ;
    font-weight: 600;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
li{
    border: 2px solid rgb(183, 26, 120);
    width: 350px;
    height:60px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1em;
    text-align: center;
    background-color: rgb(32, 212, 164);
}